@media screen and (min-width: 1366px) {
  * {
    border-radius: 1em;
  }
  header {
    background-color: plum;
    text-align: center;
  }

  select {
    display: none;
  }

  ul {
    float: left;
    background-color: palevioletred;
    padding: 20px;
    padding-right: 80px;
  }

  li {
    list-style: none;
  }
  nav {
    margin-right: 10px;
  }

  section {
    display: flex;
  }

  article {
    float: right;
    background-color: pink;
    color: white;
    margin: 15px;
    padding: 10px;
    height: max-content;
  }

  footer {
    background-color: blueviolet;
    padding: 15px;
  }
}

@media screen and (max-width: 1366px) and (min-width: 936px) {
  * {
    border-radius: 1em;
  }
  header {
    background-color: plum;
    text-align: center;
  }

  select {
    display: none;
  }

  ul {
    float: left;
    background-color: palevioletred;
    padding: 20px;
    padding-right: 80px;
  }

  li {
    list-style: none;
  }
  nav {
    margin-right: 10px;
  }

  section {
    display: inline-flex;
    width: 935px;
  }
  article:nth-child(n + 1) {
    display: inline-flex;
    width: 935px;
    background-color: pink;
    color: white;
    margin: 15px;
    padding: 10px;
    height: max-content;
  }

  article:last-child {
    float: right;
  }
  footer {
    background-color: blueviolet;
    padding: 15px;
  }
}
