* {
  font-family: Verdana, Geneva, Tahoma, sans-serif, "Times New Roman", Times,
    serif;
  text-align: center;
  color: white;
}

body {
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 1)),
    url("../img/cancha.jpg") center / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: underline;
  padding: 5px;
}

a:hover {
  font-weight: bold;
}

table {
  margin: 0 auto;
  margin-bottom: 3em;
}
th,
td {
  border: 1px solid white;
  padding: 5px;
}

.footer {
  margin-top: 5em;
  background-color: rgba(5, 7, 12, 0.5);
}
