body {
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 1)),
    url("../img/formulario.jpg") center / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
label {
  color: white;
}

form {
  margin-top: 3em;
}

label {
  font-weight: bold;
}
input {
  font-weight: bold;
}
.boton {
  padding: 5px;
  border-radius: 1em;
  color: black;
}
.boton:hover {
  background-color: turquoise;
}
