/* Estilo general de la página */
* {
  text-align: center;
}

/* Header */

#titulo {
  width: 340px;
}

header {
  margin: auto;
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none;
}

.nav > li {
  float: left;
}

.nav li {
  background-color: #117864;
  color: #f1c40f;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
  cursor: pointer;
}

.nav li:hover {
  background-color: #0e6251;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

/**
* Estilo al formulario.
*/
input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}

/**
* Estilo al div principal de la página.
*/
div {
  width: max-content;
  padding: 20px;
  margin: 0 auto;
}

/**
* Estilo a la tabla.
*/
table,
th,
td {
  background-color: rgba(5, 5, 5, 0.5);
  padding: 5px;
  color: white;
}

table {
  margin: 0 auto;
}

table {
  background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.5)),
    url("../img/fondo.jpeg") center / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: max-content;
}
div {
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.noMostrar {
  display: none;
}

#header {
  background: none;
}

label {
  color: white;
  font-weight: bold;
}

#formularioCrearLista label {
  color: black;
}
/*
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  font-size: 1.1rem;
  line-height: 1.5em;
  margin: 0;
  background: #333;
}

h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

p {
  margin-bottom: 1.6em;
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header {
  background-color: #333;
  color: white;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
}
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  letter-spacing: 2px;
  font-size: 1.2em;
}

.menu-horizontal > li {
  float: left;
}

.menu-horizontal li {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.menu-horizontal li:hover {
  background-color: #4a4a4a;
}

.menu-horizontal li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.menu-horizontal li:hover > ul {
  display: block;
}

.menu-horizontal li ul li {
  position: relative;
}

.menu-horizontal li ul li ul {
  right: -140px;
  top: 0px;
}

.main {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.5)),
    url("../img/fondo.jpeg") center / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: max-content;
}
.footer {
  background: #f2f2f2;
  padding: 2rem 0;
  text-align: center;
}

*/
