* {
  text-align: center;
  list-style: none;
}

input,
button {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
}

button:hover {
  background-color: coral;
}

label,
button {
  font-weight: bold;
}

div {
  border: 2px solid black;
  border-radius: 20px;
  width: max-content;
  padding: 0px 20px;
  background-color: #f0ffff;
  margin: 0 auto;
  box-shadow: 0px 0px 20px #333;
}

table,
th,
td {
  border: 2px solid black;
  background-color: white;
  padding: 5px;
}
th {
  background-color: #f0fff0;
}

table {
  margin: 0 auto;
}

.desabilitado {
  cursor: not-allowed;
  pointer-events: none;
}
