body {
  margin: 40px;
  font: 80% Arial, Helvetica, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas:
    "a  a  b   b   e   e"
    "a  a  b   b   e   e"
    "c  c  d   d   e   e"
    ".  .  d   d   e   e";

  /*background: no-repeat
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/grid.png);*/
  border: 1px solid;
  background-color: #fff;
  color: #444;
}

.box {
  border: 1px solid black;
}

.a {
  grid-area: a;
  align-self: stretch;
}

.b {
  grid-area: b;
  align-self: end;
}

.c {
  grid-area: c;
  align-self: start;
}

.d {
  grid-area: d;
  align-self: center;
}

.e {
  grid-area: e;
}
