/*  Márgenes totales  */
header {
  margin-bottom: 10em;
}

footer {
  background: whitesmoke;
  padding: 2rem 0;
  text-align: center;
  height: max-content;
}

/*  Clases genéricas    */
.centrarTexto {
  text-align: center;
}

.centrarProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.producto {
  padding: 3em;
}
